body {
    
    font: normal 15pt verdana;
}
header{
    color: rgb(24, 112, 12);
    text-align: center;

}
img { border-radius: 50%;}
section {
    background: rgb(241, 236, 236);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.753) ;

}
div { text-align: center;
        padding: 10px;
}
footer {
    color: rgb(27, 25, 25);
    
    font-style: italic;



}
